ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.App {
  display: flex;
  height: 100%;
}
.placeholder {
  width: 45%;
  background-color: #ccc;
}
.Menu {
  width: 20%;
  background-color: RGB(140, 75, 93);
  margin: 0px;
}
.Display {
  width: 35%;
  background-color: RGB(176, 203, 215);
  display: flex;
}
