ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
li {
  margin-top: 20px;
  width: 110%;
  margin-left: -5%;
  transform: rotate(-14deg);
}
.App {
  display: flex;
  height: 100%;
}
.placeholder {
  width: 40%;
  background-color: #ccc;
}
.Menu {
  width: 25%;
  background-color: #6b2938;
  transform: rotate(14deg);
  height: 148vh;
  margin-top: -20vh;
  overflow: hidden;
}
.Display {
  width: 35%;
  background-color: RGB(176, 203, 215);
  display: flex;
}
