ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  padding-top: 40%;
}

.App {
  display: flex;
  height: 100%;
}
.Hero {
  width: 40%;
  background-color: #fff;
  img {
    height: 80%;
    position: absolute;
    bottom: 0px;
    left: 14%;
    z-index: 2;
  }
}
.Logo {
  img {
    height: 15%;
    position: absolute;
    top: 2%;
    left: 2%;
  }
}
.Menu {
  width: 25%;
  background-color: #6b2938;
  overflow: hidden;
}
.Display {
  width: 35%;
  background-color: RGB(176, 203, 215);
  display: flex;
}
